body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

#instructions {
  margin-bottom: 30px;
  font-size: 30px;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}